<h1>Login!</h1>
  <%= form_tag({controller: "sessions", action: "create"}, method: "post", id: "login_form") do %>
    <%= text_field_tag :username, nil, placeholder: "Username" %>
    <%= password_field_tag :password, nil, placeholder: "Password" %>
    <br>
    <%= submit_tag("Login") %>
  <% end %>

  <p>New User? <%= link_to("Click here to create a new account!", {controller: "users", action: "new"}) %></p>

