<h1>Create New Account</h1>


<%= form_for @user, url: {controller: "users", action: "create"}, html: {class: "signup_form"} do |f| %>
  <%= f.text_field      :first_name, placeholder: "First Name" %>
  <%= f.text_field      :last_name, placeholder: "Last Name" %>
  <br>
  <%= f.email_field     :email, placeholder: "Email" %>
  <%= f.text_field      :username, placeholder: "Username" %>
  <br>
  <%= f.password_field  :password, placeholder: "Password" %> 
  <%= f.submit "Create Account" %>
<% end %>

<p>Already a member? <%= link_to("Click here to login!", {controller: "sessions", action: "new"}) %></p>

