<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <!-- Logout Button if a User is signed in -->
    <% if @user && !@user.id.nil? %>
      <%= button_to("Logout", { controller: "sessions", action: "destroy"}, method: "get") %>
    <% else %>
      <div>  
        <%= button_to("Login", {controller: "sessions", action: "new"}, method: "get") %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
